<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Part-Time Job Resume</title>
    <link href="/assets/css/grid.css" rel="stylesheet">
    <link href="/assets/css/pt_resume_a4_2.css" rel="stylesheet">

    <style type="text/css">
        table.main, div.main {
            width: 100%;
            max-width: 1320px;
            margin: 0 auto;
            border-collapse: collapse;
            border: none;
        }
    </style>
</head>
<body>
<table class="main" style="margin-bottom: 30px">
    <tr class="main__header">
        <td colspan="13">
            <span class="title">言語スキル</span>
            <span class="sub-title">Language skills</span>
        </td>
    </tr>
    <tr class="main__block-2col">
        <td colspan="2" class="main__block-2col_title" style="border-bottom: 1px dashed black">
            <div class="title">その他他</div>
            <div class="sub-title">Japanese</div>
        </td>
        <td colspan="11" class="main__block-2col__text" style="border-bottom: 1px dashed black">
        </td>
    </tr>
    <tr class="main__block-2col">
        <td colspan="2" class="main__block-2col_title" style="border-top: 1px dashed black">
            <div class="title">その他他</div>
            <div class="sub-title">Other language</div>
        </td>
        <td colspan="11" class="main__block-2col__text" style="border-top: 1px dashed black">

        </td>
    </tr>
    <tr class="main__header">
        <td colspan="13">
            <span class="title">趣味・特技 </span>
            <span class="sub-title">Hobbies,Specialties</span>
        </td>
    </tr>
    <tr class="">
        <td colspan="13" style="height: 100px" class="font-15">
        </td>
    </tr>
    <tr class="main__header">
        <td colspan="13">
            <span class="title">長所・短所</span>
            <span class="sub-title">Strengths and weaknesses</span>
        </td>
    </tr>
    <tr class="">
        <td colspan="13" style="height: 100px" class="font-15">
        </td>
    </tr>
    <tr class="main__header">
        <td colspan="13">
            <span class="title">学生時代の研究課題や専攻</span>
            <span class="sub-title">Your research topic or major (in university/school)</span>
        </td>
    </tr>
    <tr class="">
        <td colspan="13" style="height: 100px" class="font-15">
        </td>
    </tr>
    <tr class="main__header">
        <td colspan="13">
            <span class="title">学生時代に勉強以外に力を注いだこと （例えば：サークル活動、スポーツ、アルバイトなど）</span>
            <span class="sub-title">Your Focus during school year (club activities,Sports,Part-time-job,etc.)</span>
        </td>
    </tr>
    <tr class="">
        <td colspan="13" style="height: 100px" class="font-15">
        </td>
    </tr>
    <tr class="main__header">
        <td colspan="13">
            <span class="title">本人希望記入欄 （特に給料、職種、勤務時間、勤務地などに希望があれば記入）</span>
            <span class="sub-title">Additional request (Salary, Position,Work time and location,etc.)</span>
        </td>
    </tr>
    <tr class="">
        <td colspan="13" style="height: 100px" class="font-15">
        </td>
    </tr>
</table>

<table class="main" style="margin-bottom: 30px">
    <tr class="main__block-dependents">
        <td colspan="2" class="main__block-dependents__number-of-dependents">
            <div class="title">扶養家族数 (配偶者を除く)</div>
            <div class="sub-title">Number of dependents (excluding spouse)</div>
        </td>
        <td colspan="3" class="main__block-dependents__text">

        </td>
        <td colspan="1" class="main__block-dependents__spouse">
            <div class="title">配偶者</div>
            <div class="sub-title">Spouse</div>
        </td>
        <td colspan="1" class="main__block-dependents__radio">
            <input type="radio" id="1">
            <label for="1" class="d-inline-block">
                <div class="title">有</div>
                <div class="sub-title">Yes</div>
            </label>
        </td>
        <td colspan="1" class="main__block-dependents__radio main__block-dependents__radio-no">
            <input type="radio" id="2">
            <label for="2" class="d-inline-block">
                <div class="title">無</div>
                <div class="sub-title">No</div>
            </label>
        </td>
        <td colspan="2" class="main__block-dependents__dependent-spouse">
            <div class="title">配偶者の扶養義務</div>
            <div class="sub-title">Dependent spouse</div>
        </td>
        <td colspan="1" class="main__block-dependents__radio">
            <input type="radio" id="3">
            <label for="3" class="d-inline-block">
                <div class="title">有</div>
                <div class="sub-title">Yes</div>
            </label>
        </td>
        <td colspan="1" class="main__block-dependents__radio" style="border-right: 1px solid black">
            <input type="radio" id="4">
            <label for="4" class="d-inline-block">
                <div class="title">無</div>
                <div class="sub-title">No</div>
            </label>
        </td>
    </tr>
</table>

<table class="main">
    <tr class="main__header">
        <td colspan="13">
            <span class="title">採用者側の記入欄 (何も書かないでください) </span>
            <span class="sub-title">Please do not write anything here.</span>
        </td>
    </tr>
    <tr class="font-15">
        <td colspan="13" style="height: 100px">
        </td>
    </tr>
</table>
</body>
</html>