<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
    <title>アルバイト履歴書</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/assets/css/grid.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/pt_resume_a1.css">
</head>
<body>
<table style="margin-bottom: 30px" class="main">
    <tr class="main__block-head">
        <td colspan="6" class="main__block-head__cv-title">
            <div>
                アルバイト履 歴 書
            </div>
        </td>
        <td colspan="4" class="main__block-head__date">
            <div class="main__block-head__date__title">
                年 月 日　現在
            </div>
            <div class="main__block-head__date__date">
                yyyy/mm/dd as of now
            </div>
        </td>
        <td colspan="3">
<!--            <img style="width: 100%" src="../image/image-2025-06-04-15-46-00-326.png" alt="">-->
        </td>
    </tr>
    <tr class="main__block-second">
        <td colspan="2" class="main__block-second__col-title"
            style="border-bottom: 1px dashed #000 !important;background: #e9ecef;">
            <div class="main__block-second__col-title__title">フリガナ</div>
            <div class="main__block-second__col-title__sub-title">Furigana</div>
        </td>
        <td colspan="8" class="main__block-second__col-text" style="border-bottom: 1px dashed #000 !important;">
        </td>
        <td colspan="2" rowspan="4" class="main__block-second__col-img">
            写真 ID Photo (30mm×40mm)
        </td>
    </tr>
    <tr class="main__block-second">
        <td colspan="2" class="main__block-second__col-title"
            style="border-top: 1px dashed #000 !important;background: #e9ecef;">
            <div class="main__block-second__col-title__title">名 前</div>
            <div class="main__block-second__col-title__sub-title">Name</div>
        </td>
        <td colspan="8" class="main__block-second__col-text" style="border-top: 1px dashed #000 !important;">
        </td>
    </tr>
    <tr class="main__block-second">
        <td colspan="2" class="main__block-second__col-title" style="background: #e9ecef;">
            <div class="main__block-second__col-title__title">国 籍</div>
            <div class="main__block-second__col-title__sub-title">Nationality</div>
        </td>
        <td colspan="8" class="main__block-second__col-text">
        </td>
    </tr>
    <tr class="main__block-second">
        <td colspan="2" class="main__block-second__col-title" style="background: #e9ecef;">
            <div class="main__block-second__col-title__title">生年月日</div>
            <div class="main__block-second__col-title__sub-title">Date of birth</div>
        </td>
        <td colspan="8" class="main__block-second__col-text font-15">
            Date of birth 年 月 日 (満 歳)
        </td>
    </tr>
    <tr class="main__block-second">
        <td colspan="2" class="main__block-second__col-title" style="background: #e9ecef;">
            <div class="main__block-second__col-title__title">住 所</div>
            <div class="main__block-second__col-title__sub-title">Address</div>
        </td>
        <td colspan="11" class="main__block-second__col-text ">
        </td>
    </tr>
    <tr class="main__block-second">
        <td colspan="2" class="main__block-second__col-title" style="background: #e9ecef;">
            <div class="main__block-second__col-title__title">電話番号</div>
            <div class="main__block-second__col-title__sub-title">Tel</div>
        </td>
        <td colspan="3" class="main__block-second__col-text border-right-unset">
        </td>
        <td colspan="2" class="main__block-second__col-title border-left-unset" style="background: #e9ecef;">
            <div class="main__block-second__col-title__title">E-mail</div>
        </td>
        <td colspan="6" class="main__block-second__col-text"></td>
    </tr>
    <tr class="main__block-second">
        <td colspan="2" class="main__block-second__col-title" style="background: #e9ecef;">
            <div class="main__block-second__col-title__title">在留資格</div>
            <div class="main__block-second__col-title__sub-title">Status of residence</div>
        </td>
        <td colspan="4" class="main__block-second__col-text border-right-unset">
        </td>
        <td colspan="2" class="main__block-second__col-title border-left-unset" style="background: #e9ecef;">
            <div class="main__block-second__col-title__title">在留期限</div>
            <div class="main__block-second__col-title__sub-title">Period of stay</div>
        </td>
        <td colspan="4" class="main__block-second__col-text font-15">
            <div>年 月 日 まで有効</div>
            <div class="font-15">*Valid until yyyy/mm/dd</div>
        </td>
    </tr>
</table>
<table class="main">
    <tr>
        <td style="text-align: center; background-color: #e9ecef;">
            <span class="font-15"
                  style="margin-right: 20px; font-weight: 600">母国・日本での　学歴 ／ 職歴 ／ 受賞歴 </span>
            <span class="font-10">Education history / Employment history / Awards received (in your home country &amp; in Japan)</span>
        </td>
    </tr>
    <tr>
        <td style="height: 400px;"></td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #e9ecef;">
            <span class="font-15" style="margin-right: 20px; font-weight: 600">資格 ／ 免許 </span>
            <span class="font-10">Qualifications / Licenses</span>
        </td>
    </tr>
    <tr>
        <td style="height: 100px;"></td>
    </tr>
</table>
<div class="main">
    <div style="width: 5%">注意</div>
    <div style="width: 50%">
        <div>1.黒いボールペンで書く</div>
        <div>2.全て日本語で書く（外国の学校名などはカタカナまたは英語で書く）</div>
        <div>3.※マークがついているところは◯をつける</div>
    </div>
    <div style="width: 45%">
        <div>1.Please write with a black ballpen.</div>
        <div>2.Please write everything in Japanese.<br>
            (Names of schools may be written either in katakana or English)
        </div>
        <div>3.Please circle the applicable option for section with ※</div>
    </div>
</div>
</body>
</html>